.sidenav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(0, 0, 0);
  padding-top: 20px;
  display:flex;
  flex-direction: column;
  
  /* position:relative; */
}
.sidenav div{
  flex:1;
}
.sidenav ul i{
  margin:10px;
}


.sidenav ul {
  list-style-type: none;
  padding: 0;
  font-size: xx-large;
  margin-top:85px;
}

.sidenav ul li {
  padding: 10px ;
  text-align: center;
  justify-content: center;
}

.sidenav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  border-radius: 10px;
  transition: 0.2s;
  padding:45px 22px;
}

.sidenav ul li a:hover {
  background-color: rgb(255, 151, 248);
  color:black;
}
.logo{
  position:absolute;
}

.logo img{
  width:100%;
}

.menu{
  display: flex;
  justify-content: center;
}
.logo1{
  padding: 15px;
}
.section{
  margin-left: 95px;
}
.title{
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  color: beige;
  background-color: rgba(0, 0, 0, 0.804);
}
i{
  font-size:100px;
  color: rgb(26, 26, 26);
}
.row{
  justify-content: space-between;
  padding: 20px;
}
.car1{
  /* width: 100%; */
  background-color: rgba(255, 26, 26, 0.641);
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.car2{
  /* width: 100%; */
  background-color: rgba(255, 162, 0, 0.733);
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.car3{
  /* width: 100%; */
  background-color: rgba(50, 91, 255, 0.803);
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
p{
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
